<!-- HEADER -->
<header id="header">
    <div id="logo-group">
        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo">
            <a href="/">
                <img src="~/img/logo_saludsa_home.svg" alt="Saludsa" />
            </a>
        </span>
        <!-- END LOGO PLACEHOLDER -->
    </div>

    
</header>
<!-- END HEADER -->
