<!-- HEADER -->
<header id="header">
<div>
        <span id="logo">
        <a href="/">
                <img src="~/img/logo_saludsa_home.svg" alt="Saludsa" />
        </a>
    </span>
</div>
<div class="pull-right">
    <div id="logout" class="btn-header transparent pull-right">
        <span>
            <a asp-controller="Account" asp-action="Logout" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser">
                <i class="fa fa-sign-out"></i>
            </a>
        </span>
    </div>
</div>
</header>

